{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Lista Usuarios
{% endblock %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }} </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>




    

{% endblock %}